$colors: (
  white-blacks: (
    0: #000,
    1: #fff,
    2: #f2f2f2,
    3: #e6e6e6,
    4: #d9d9d9,
    5: #cccccc,
    6: #bfbfbf,
    7: #b3b3b3,
    8: #a6a6a6,
    9: #999999,
    10: #8c8c8c,
    11: #808080,
    12: #737373,
    13: #666666,
    14: #595959,
    15: #4d4d4d,
    16: #404040,
    17: #333333,
    18: #262626,
    19: #1a1a1a,
    20: #0d0d0d,
  ),
  primary: (
    0: #e599f7,
    1: #f7e5f9,
    2: #f0ccf3,
    3: #e8b2ed,
    4: #e099e7,
    5: #d980e1,
    6: #d166db,
    7: #c94dd5,
    8: #c133cf,
    9: #b91ac9,
    10: #b100c3,
    11: #9a00b0,
    12: #83009d,
    13: #6c008a,
    14: #550077,
    15: #3e0064,
    16: #270051,
    17: #10003e,
    18: #00002b,
    19: #000018,
    20: #000005,
  ),
  secondary: (
    0: #f7e599,
    1: #f9f7e5,
    2: #f3f0cc,
    3: #ede8b2,
    4: #e7e099,
    5: #e1d980,
    6: #dbd166,
    7: #d5c94d,
    8: #cfc133,
    9: #c9b91a,
    10: #c3b100,
    11: #b09a00,
    12: #9d8300,
    13: #8a6c00,
    14: #775500,
    15: #643e00,
    16: #512700,
    17: #3e1000,
    18: #2b0000,
    19: #180000,
    20: #050000,
  ),
  tertiary: (
    0: #99f7e5,
    1: #e5f9f7,
    2: #ccf3f0,
    3: #b2edea,
    4: #99e7e3,
    5: #80e1dc,
    6: #66dbd5,
    7: #4dd5ce,
    8: #33cfc7,
    9: #1ac9c0,
    10: #00c3b9,
    11: #00b0a6,
    12: #009d93,
    13: #008a80,
    14: #00776d,
    15: #00645a,
    16: #005147,
    17: #003e34,
    18: #002b21,
    19: #00180e,
    20: #00050b,
  ),
);
@function color($color, $shade: 0) {
  @return map-get(map-get($colors, $color), $shade);
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin grid($columns: 12, $gap: 1.2rem) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font: "Ubuntu", sans-serif;
  font-size: 62.5%;

  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  width: 100vw;
  min-height: 100vh;
  background-color: color(primary, 3);
}

.container {
  width: 100%;
  min-height: 4.8rem;
  background-color: color(tertiary, 2);
}
